<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vue.js & Dynamo DB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="images/favicon.ico" >
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <h1 class="title">タスク管理画面</h1>
            <h2 class="subtitle">Vue.js版</h2>
        </div>
    </section>
    <div id="tasks" v-cloak>
        <div class="main" style="text-align: left">
            <div class="newTask">
                <div class="padding-bottom">
                    <input v-validate="'required'" v-model="newTask" class="input is-primary is-medium" type="text" name="newtaskname" placeholder="新しいタスク名を入力してください（必須項目）" />
                </div>
                    <textarea class="textarea is-primary"  v-model="newDetail" name="newdetail" placeholder="タスクの詳細を入力してください" ></textarea>
                    <div class="notification is-danger" v-if="errors.has('newtaskname')">
                        {{errors.first('newtaskname')}}
                </div>
                <div class="createButton">
                    <div v-if="errors.has('newtaskname')">
                        <a class="button is-primary" disabled v-on:click="createTask">
                            <span>
                                Create
                            </span>
                            <span class="icon is-small">
                                <i class="fas fa-plus"></i>
                            </span>
                        </a>
                    </div>
                    <div v-else>
                        <a class="button is-primary" v-on:click="createTask">
                            <span>Create</span>
                            <span class="icon is-small">
                                <i class="fas fa-plus"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="tasklist">
                <div class="cards padding-bottom" v-for="task in sortedTasks">
                    <div class="card padding">
                        <div class="card-content padding">
                            <p class="title"> 
                            {{task.id}}. {{task.taskname}}
                            </p>
                            <p class="subtitle">
                            {{task.detail}}
                            </p>
                        </div>
                        <footer class="card-footer padding-top flex-reverse">
                            <span class="deleteButton">
                                <div>
                                    <a class="button is-danger is-outlined" v-on:click="deleteTask(task.id)">
                                        <span>Delete</span>
                                        <span class="icon is-small">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    </a> 
                                </div>
                            </span>
                        </footer>
                    </div>
                </div>
                <!--
                    <table class="table is-bordered is-striped is-fullwidth">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="task in sortedTasks">
                                <td width="3px">{{ task.id }}</td>
                                <td>{{ task.taskname }}</td>
                                <td>
                                    <a class="button is-danger is-outlined" v-on:click="deleteTask(task.id)">
                                        <span>Delete</span>
                                        <span class="icon is-small">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                -->
                </div>
            </div>
        </div>
        <!-- Vue.js 開発バージョン、便利なコンソールの警告が含まれています -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Vee-Validate -->
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/locale/ja.js"></script>
    <script src="js/index.js"></script>
</body>
</html>